<main>
  <div #container [ngClass]="{'active':isActive}" class="container">
    <div class="form-container sign-up">
      <form>
        <h1 class="font-bold">Create account</h1>
        <div class="social-icons">
          <a class="icons" href="#"><img
              src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/436.png?hash=hWSi-z_FfQquG902GF_KdA&expires=2145884400"></a>
          <a class="icons" href="#"><img
              src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/38004.png?hash=NvALQnR4pRpsfk4Ul6QYdA&expires=2145884400"></a>
          <a class="icons" href="#"><img
              src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/508.png?hash=AKSNNUJg2ttqhfWZ23dX6w&expires=2145884400"></a>
          <a class="icons" href="#"><img
              src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/424.png?hash=sZTeD2UtSfMjYNqf0CmUiw&expires=2145884400"></a>

        </div>
        <span>Đăng ký với G-mail</span>
        <input [(ngModel)]="username" placeholder="User name" type="text" [ngModelOptions]="{standalone: true}">
        <p *ngIf="isInvalidUsername" class="text-danger">{{messageErrorUsername}}</p>
        <input [(ngModel)]="email" placeholder="Enter G-mail" type="email" [ngModelOptions]="{standalone: true}">
        <p *ngIf="isInvalidEmail" class="text-danger">Email không hợp lệ</p>
        <input [(ngModel)]="password" placeholder="Enter Password" type="password"
          [ngModelOptions]="{standalone: true}">
        <p *ngIf="isInvalidPassword" class="text-danger">{{messageErrorPassword}}</p>
        <input [(ngModel)]="confirmPassword" placeholder="Enter Confirm Password " type="password"
          [ngModelOptions]="{standalone: true}">
        <p *ngIf="isInvalidConfirmPassword" class="text-danger">Mật khẩu không khớp</p>
        <button (click)="registerAccount()">Sign up</button>
      </form>
    </div>

    <div class="form-container sign-in">
      <form>
        <h1 class="font-bold">Sign in</h1>
        <div class="social-icons">
          <a class="icons" href="#"><img
              src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/436.png?hash=hWSi-z_FfQquG902GF_KdA&expires=2145884400"></a>
          <a class="icons" href="#"><img
              src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/38004.png?hash=NvALQnR4pRpsfk4Ul6QYdA&expires=2145884400"></a>
          <a class="icons" href="#"><img
              src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/508.png?hash=AKSNNUJg2ttqhfWZ23dX6w&expires=2145884400"></a>
          <a class="icons" href="#"><img
              src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/424.png?hash=sZTeD2UtSfMjYNqf0CmUiw&expires=2145884400"></a>
        </div>
        <span>Đăng nhập với tên tài khoản và mật khẩu</span>
        <input [(ngModel)]="username" placeholder="Enter UserName" type="text" [ngModelOptions]="{standalone: true}">
        <p *ngIf="isInvalidUsername" class="text-danger">{{messageErrorUsername}}</p>
        <input [(ngModel)]="password" placeholder="Enter Password" type="password"
          [ngModelOptions]="{standalone: true}">
        <p *ngIf="isInvalidPassword" class="text-danger">{{messageErrorPassword}}</p>
        <div class="flex">
          <div (click)=" goToForgotPassword()" class="underline text-sm">Quên mật khẩu</div>
          <div>/</div>
          <div (click)=" goToUpdatePassword()" class="underline text-sm">Đổi mật khẩu</div>
        </div>
        <button (click)="loginNormal()">Sign in</button>
        <div style="margin-top: 20px;">
          <asl-google-signin-button type='standard' theme="filled_blue" size='large'></asl-google-signin-button>
        </div>
      </form>
    </div>

    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1 class="font-bold">Welcome to Manga .net core </h1>
          <p>Sign in With ID & Password</p>
          <button (click)="changeForm()">Sign In</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1 class="font-bold">Welcome to Manga .net core</h1>
          <p>Cùng thưởng thức manga chất lượng của chúng tôi</p>
          <button (click)="changeForm()">Sign up</button>
        </div>
      </div>
    </div>
  </div>
</main>
<p-toast></p-toast>